html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body index {
  color: white;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  height: 100vh;
}

#background-paragraph {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('https://i.pinimg.com/736x/e3/02/7a/e3027a84c8048001b4793f6e607465c4.jpg');
  background-size: cover;
  filter: contrast(60%);
  background-repeat: no-repeat;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

header h1 {
  margin: 0;
}

/* Estilize o cabeçalho */
h1 {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* Estilize o formulário */
form {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="date"] {
    width: 82%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #000;
    border-radius: 5px;
}

select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 26px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 28px;
}

/* Mensagens de erro ou sucesso */
.error-message, .success-message {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.error-message {
    color: #FF0000;
}

.success-message {
    color: #008000;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 1rem;
}

nav li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

nav li a:hover {
  background-color: #555;
}

main {
  filter: contrast(200%);
  padding: 0rem;
}

section {
  margin-bottom: 2rem;
  padding: 0rem;
}

#menu {
  background-color: #333;
  text-align: center;
  padding: 1rem 0;
}

#menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#menu li {
  display: inline-block;
  margin-right: 1rem;
}

#menu li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

#menu li a:hover {
  background-color: #555;
}

h2 {
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 492px;
  border-radius: 10px;
}

label, input, button {
  margin-bottom: 0rem;
  padding: 0.5rem;
  border-radius: 7px;
}

button {
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
  color: white;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-column {
    flex: 1;
    margin: 0 56px;
}

.form-container {
    display: inline-block;
    vertical-align: top; 
    width: 50%; 
}
